<nav>
  <div class="nav-wrapper orange darken-4 lighten-3">
    <a href="/" class="brand-logo center">Krusty Crab </a>
    <ul id="nav-mobile" class="left">
      <li><a href="/"><i class="material-icons">home</i></a></li>
      <li><a href="/menu">View Menu</a></li>
    </ul>
  </div>
</nav>